.errorSection {
  color: #ee4266;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
}

.errorText {
  color: #ee4266;
}

.formField {
  align-items: start;
  display: flex;
  flex-direction: column;
  height: 110px;
  justify-content: flex-end;
  width: 100%;

  input {
    background-color: #fdfdfd;
    border-color: #cfe7e5;
    border-style: solid;
    border-width: 4px;
    color: #404040;
    cursor: pointer;
    font-size: 14px;
    height: 48px;
    max-width: 500px;
    outline: 0;
    padding: 0 16px;
    width: 100%;

    &:focus {
      border-color: #a1d2ce;
    }

    &.error {
      background-color: #efe0e0;
      border-color: #f18ea3;
    }
  }
}

.labelSection {
  color: #404040;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  text-align: left;
}
